@font-face {
    font-family: Days;
    src: url('/img/Days.otf');
}

@font-face {
    font-family: Icons;
    src: url('/img/octicons.ttf');
}

* {
    font-family: Days, sans-serif;
    font-size: 1em;
}

body
{
    margin: 0;
    padding: 0;
    background: #34344a;
    font-family: Days, sans-serif;
    font-size: 100%;
}

#auth_panel {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #34344a;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#main_panel {
    display: none;
    height: 100%;
}

#auth_logo {
    order: 0;
    flex: 0 1 auto;
    font-size: 32pt;
    text-shadow: 0px 4px #14142a;
    margin-bottom: 10px;
}

#auth_error {
    order: 1;
    flex: 0 1 auto;
    font-size: 14pt;
    color: #fc8aa1;
    text-shadow: 0px 2px #80475e;
    margin-bottom: 10px;
    visibility: hidden;
}

#auth_form {
    order: 2;
    flex: 0 1 auto;
    margin-left: -5em;
}

.auth_input {
    background: #fff;
    border: none;
    border-bottom: 2px solid #a0a0a0;
    padding: 5px;
    width: 15em;
}

#auth_button {
    border: none;
    border-bottom: 4px solid #80475e;
    background: #cc5a71;
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    font-size: 14pt;
    text-shadow: 0px 2px #80475e;
    width: 100%;
}

#auth_button:active {
    border-top: 2px solid #cc5a71;
    border-bottom: 2px solid #80475e;
}

#auth_button:disabled {
    background: #80475e;
    color: #aaa;
}

.auth_text {
    font-size: 14pt;
    text-shadow: 0px 2px #14142a;
    width: 5em;
}

.form_input {
    background: #fff;
    border: none;
    border-bottom: 2px solid #14142a;
    padding: 5px;
    min-width: 10em;
}

#popup-start-text {
    width: 100%;
}
#popup-start-text tr td:first-child {
    text-align: right;
}

.popup-title {
    cursor: pointer;
}

.popup-preloader {
    height: 1em;
    padding: 4px;
}

.popup-preloader img {
    float: left;
    margin-right: 2px;
}

.popup-preloader span {
    float: left;
    padding: 4px;
}

.MainWindow{
    position:relative;
    max-width: 1200px;
    min-width: 1200px;
    min-height: 550px;
    width: 100%;
    height: 100%;
}
#navigation-block {
    position:relative;
    float: left;
    width: 20%;
    border-color: #1c94c4;
}
#InputArg{
    margin: 10px;
    float: left;
    min-width: 100px;
    width: 10%;
    background-color: rgba(207, 220, 225, 0.45);
}
#sample{
    position: relative;
    border-color: #1c94c4;
    width: 50%;
    height: 400px;
    height: 70%;
    float: left;
}
#jstree{
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    min-width: 290px;
    min-height: 200px;
    max-height: 400px;
    height: 50%;
    width: 25%;
    overflow: auto;
    padding: 12px 20px 12px 40px;
    float: left;
    margin-left: 5px;
}
.but{
    position: relative;
    float: right;
    top: -50px;
}
#head{
    height: 50px;
    width: 100%;
}

#myPaletteDiv{
    position: relative;
    width:22%;
    float: left;
    height: calc(100% - 2em - 5px);
    overflow: hidden;
}
#panel_flowchart {
    height: 100%;
    overflow: hidden;
}

.alg_title {
    float: left;
    width: calc(20% - 10px - 10px);
    height: 2em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#algorithm_info {
    float: right;
    width: calc(76% - 5px);
    height: 2em;
    clear: right;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    padding-left: 5px;
    background: #fff;
    border: none;
    border-bottom: 2px solid #14142a;
}

#myDiagramDiv{
    position: relative;
    background: #fff;
    border-bottom: 4px solid #14142a;
    width:76%;
    height: calc(100% - 2em - 5px);
    float: right;
    margin: 0px;
}

#SiteName{
    font-family: Days;
    color: #fff;
    text-shadow: 0px 2px #80475e;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}
#find-but{
    position: relative;
    left: 850px;
    height: 25px;
    width: 100px;
}
#logo{
    position: relative;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
}
#exit-but{
    position: relative;
    float: left;
}

#FindInput{
    width: 60%;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 0px;
    height: 1.3em;
    vertical-align: top;
    background: #fff;
    border: none;
    border-bottom: 2px solid #80475e;
    padding: 5px;
}

#CodeInput{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#ResultOut{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/logo.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#ShowAlgorithm{
    position:relative;
    height: 500px;
    width: 450px;
    float: left;
}
#ShowResult{
    position:relative;
    height: 500px;
    width: 450px;
    float: left;
    left: 20px;
}
#ShowWindows{
    position: relative;
    max-width: 1000px;
    width: 100%;
    min-height: 600px;
    left: 50px;
    overflow: auto;
    float: top;
}
#hide {
    position:absolute;
    top:30px;
    left:-190px;
}
ul#sliding-navigation
{
    list-style: none;
    font-size: 1em;
    margin: 0 0;
    padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
    display: block;
    width: 200px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element a
{
    color: #eeeeee;
    background: #cc5a71;
    border: 1px solid #80475e;
    border-bottom: 4px solid #80475e;
    font-size: 12pt;
    text-decoration: none;
    text-shadow: 0px 1px #80475e;
}

ul#sliding-navigation li.sliding-element a.disabled {
    opacity: 0.3;
}

ul#sliding-navigation li.sliding-element a:not(.disabled):hover {
    color: #fff;
    background: #dc6a81;
}

input#algorithm_info:hover::after,
#panel_top #user_exit:hover::after,
#panel_top #user:hover::after{
    content: attr(data-title);
    font-family: Days, sans-serif;
    font-size: 12pt;
    padding: 4px 8px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 35px;
    white-space: nowrap;
    z-index: 10;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
   }
ul#sliding-navigation li.sliding-element:hover::after {
    content: attr(data-title);
    font-family: Days, sans-serif;
    font-size: 1em;
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 1%;
    white-space: nowrap;
    z-index: 10;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
   }

html, body {
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

#menu_button {
    font-family: Icons;
    margin: 0px;
    padding: 0px;
    float: left;
    font-size: 2em;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-shadow: 0px 3px #80475e;
}

#user {
    float: right;
    color: #fff;
    text-shadow: 0px 1px #80475e;
    margin: 0px;
    margin-top: 14px;
    padding: 0px;
    font-size: 1em;
    padding-right: 6px;
    border-right: 1px solid #fff;
}
#user_exit {
    float: right;
    font-family: Icons;
    color: #fff;
    text-shadow: 0px 1px #80475e;
    margin: 0px;
    margin-top: 10px;

    padding: 0px;
    padding-left: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

#user_exit:active {
    margin-top: 12px;
}

div#panel_top {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: calc(100%-20px);
  height: 2em;
  float: clear;
  border-bottom: 5px solid #80475e;
  background: #cc5a71;
  margin-bottom: 10px;
}

div#panel_content {
  width: 100%;
  height: calc(100% - 2em - 50px);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.icon_font {
    font-family: Icons;
    size: 12pt;
}

div#panel_menu {
  flex: 0 1 20%;
  min-width: 0px;
}

div#panel_central {
  flex: 1 1 auto;
  padding-right: 10px;
  height: 100%;
}

div#panel_message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

div#panel_flowchart {
  display: none;
  overflow: hidden;
}

div#panel_right {
  flex: 0 1 20%;
}

div#panel_menu.hide_menu {
  flex: 0 1 0%;
  visibility: hidden;
  transition-timing-function: ease-out;
  transition: 0.5s;
}

div#panel_menu.show_menu {
  flex: 0 1 20%;
  visibility: visible;
  transition-timing-function: ease-out;
  transition: 0.5s;
}

.octicon-file-code:before {
    font-family: Icons;
    font-style: normal;
    content: '\f010';
}
.octicon-file-directory:before {
    font-family: Icons;
    font-style: normal;
    content: '\f016';
}

.octicon-chevron-down:before { content: '\f0a3'; font-family: Icons; font-style: normal;}
.octicon-chevron-up:before { content: '\f0a2';  font-family: Icons; font-style: normal;}