* {
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 1em;
}

body
{
    margin: 0;
    padding: 0;
    background: #1d1d1d;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 100%;
}

h2
{
    color: #999;
    margin-bottom: 0;
    margin-left:13px;
    background:url(navigation.jpg) no-repeat;
    height:40px;
}

h2 span
{
    display: none;
}

p
{
    color: #ffff66;
    margin-top: .5em;
    font-size: .75em;
    padding-left:15px;
}
header{
    background-color: #333333;
    height: 50px;
}
.MainWindow{
    position:relative;
    max-width: 1200px;
    min-width: 1200px;
    min-height: 550px1
    width: 100%;
    height: 100%;
}
#navigation-block {
    position:relative;
    float: left;
    width: 20%;
    border-color: #1c94c4;
}
#InputArg{
    margin: 10px;
    float: left;
    min-width: 100px;
    width: 10%;
    background-color: rgba(207, 220, 225, 0.45);
}
#sample{
    position: relative;
    border-color: #1c94c4;
    width: 50%;
    height: 400px;
    height: 70%;
    float: left;
}
#jstree{
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    min-width: 290px;
    min-height: 200px;
    max-height: 400px;
    height: 50%;
    width: 25%;
    overflow: auto;
    padding: 12px 20px 12px 40px;
    float: left;
    margin-left: 5px;
}
.but{
    position: relative;
    float: right;
    top: -50px;
}
#head{
    height: 50px;
    width: 100%;
}

#mySavedModel{
    display: none;
}
#myPaletteDiv{
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 500px;
    width:18%;
    overflow: auto;
    float: left;
}
#myDiagramDiv{
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    width:80%;
    height: 500px;
    float: right;
    margin: 0px;
}
#SiteName{
    font-family: Arial;
    color: #c77405;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 1.4em;
}
#find-but{
    position: relative;
    left: 850px;
    height: 25px;
    width: 100px;
}
#logo{
    position: relative;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
}
#exit-but{
    position: relative;
    float: left;
}
#FindInput{
    position: relative;
    top: 2.5px;
    margin-left: 64px;
    width: 70%;
    min-width: 400px;
    max-width: 600px;
    height: 20px;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}
#CodeInput{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#ResultOut{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-image: url('/dist/img/logo.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#ShowAlgorithm{
    position:relative;
    height: 500px;
    width: 450px;
    float: left;
}
#ShowResult{
    position:relative;
    height: 500px;
    width: 450px;
    float: left;
    left: 20px;
}
#ShowWindows{
    position: relative;
    max-width: 1000px;
    width: 100%;
    min-height: 600px;
    left: 50px;
    overflow: auto;
    float: top;
}
#hide {
    position:absolute;
    top:30px;
    left:-190px;
}
ul#sliding-navigation
{
    list-style: none;
    font-size: .75em;
    margin: 30px 0;
    padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
    display: block;
    width: 150px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3
{
    color: #fff;
    background:#333 url(heading_bg.jpg) repeat-y;
    font-weight: normal;
}

ul#sliding-navigation li.sliding-element a
{
    color: #999;
    background:#222 url(img/tab_bg.jpg) repeat-y;
    border: 1px solid #1a1a1a;
    text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover { color: #ffff66; }
li.sliding-element{
    font-family: "Lucida Grande", Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

div#panel_top {
  padding: 10px;
  width: calc(100%-20px);
  height: 2em;
  float: clear;
}

div#panel_content {
  width: 100%;
  height: calc(100% - 2em - 20px);
  display: flex;
}

div#panel_menu {
  flex: 0 1 20%;
  min-width: 0px;
}

div#panel_flowchart {
  flex: 1 1 auto;
}

div#panel_right {
  flex: 0 1 20%;
}

div#panel_menu.hide_menu {
  flex: 0 1 0%;
  transition-timing-function: ease-out;
  transition: 0.5s;
}

div#panel_menu.show_menu {
  flex: 0 1 20%;
  transition-timing-function: ease-out;
  transition: 0.5s;
}